<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= npmReportTitle %>
  </title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
    }

    .title-area {
      color: #333;
      text-align: center;
      margin-bottom: 2rem;
    }

    .title-area h1 {
      line-height: 1.6;
    }

    .title-area h5 {
      color: gray;
      font-weight: 400;
    }

    .vulnerability-category {
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 10px;
      padding: 15px 25px;
      margin: 10px 5px;
      text-align: center;
      display: flex;
      flex-direction: column;
      width: 100px;
    }

    .vulnerability-category strong {
      margin-top: 7px;
    }

    .info-categories {
      display: flex;
      max-width: 1200px;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .badge {
      display: inline-block;
      padding: 4px 20px;
      border-radius: 5px;
      font-weight: bold;
      color: #fff;
    }

    .pointer {
      cursor: pointer;
    }

    .critical {
      background-color: #dc3545;
    }

    .high {
      background-color: #ff7b00;
    }

    .moderate {
      background-color: #ffc107;
    }

    .low {
      background-color: #28a745;
    }

    .informative {
      background-color: #17a2b8;
    }

    .tag {
      background-color: #742eff;
      margin: 0 5px 5px 0;
    }

    .total {
      background-color: #8b8b8b;
      margin: 0 5px 5px 0;
    }

    table {
      width: 100%;
      max-width: 1200px;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 6px 10px;
      text-align: left;
    }

    th {
      background-color: #ececec;
      position: relative;
      cursor: pointer;
      text-wrap: nowrap;
    }

    .sort-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: #9b9b9b;
      font-size: 12px;
    }

    .sort-icon.asc,
    .sort-icon.desc {
      font-weight: bold;
      color: #000;
    }

    [data-title] {
      position: relative;
    }

    [data-title]:after {
      content: attr(data-title);
      background-color: white;
      color: #2b2b2b;
      font-size: 75%;
      position: absolute;
      padding: 4px 6px;
      border-radius: 4px;
      bottom: 35px;
      left: -40%;
      white-space: nowrap;
      border: 1px solid #6a6a6a;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    [data-title]:hover:after {
      opacity: 1;
      visibility: visible;
    }

    input#search-input {
      width: 100%;
      max-width: 300px;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
      font-size: 16px;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      outline: none;
    }

    input#search-input::placeholder {
      color: #999;
    }

    input#search-input:focus {
      border-color: #007bff;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
    }

    .dropdownButton {
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 10px;
      width: 100%;
    }

    .checkbox-list {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1;
      padding: 10px;
      width: 100%;
      box-sizing: border-box;
    }

    .checkbox-list label {
      display: block;
      padding: 5px;
      text-wrap: wrap;
    }

    .checkbox-list label input {
      margin-right: 8px;
    }

    .filters-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      margin: 20px 0;
    }

    .download {
      position: fixed;
      top: 15px;
      right: 20px;
      padding: 8px 10px;
      border-radius: 50px;
      border: none;
      background: #e7e7e7;
      transition: all ease .3s;
      cursor: pointer;
      z-index: 100;
    }

    .download:hover {
      background: #d8d8d8;
    }

    .dropdown-menu {
      position: fixed;
      top: 55px;
      right: 20px;
      display: none;
      background: #f9f9f9;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
      border-radius: 8px;
      z-index: 99;
    }

    .dropdown-menu ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }

    .dropdown-menu ul li {
      padding: 10px 15px;
      color: #333;
      cursor: pointer;
      transition: all ease .3s;
    }

    .dropdown-menu ul li:hover {
      background-color: #ececec;
    }

    .download:hover+.dropdown-menu,
    .dropdown-menu:hover {
      display: block;
    }
  </style>
</head>

<body>

  <button class="download" onclick="download()">
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#333333"
      stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-download">
      <path d="M21 15v4a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-4" />
      <polyline points="7 10 12 15 17 10" />
      <line x1="12" x2="12" y1="15" y2="3" />
    </svg>
  </button>
  <div class="dropdown-menu">
    <ul>
      <li onclick="downloadAsCSV()" style="border-bottom: 1px solid #e0e0e0;">Download as CSV</li>
      <li onclick="downloadAsSarif()">Download as SARIF</li>
      <li onclick="downloadAsJSON()">Download as JSON</li>
    </ul>
  </div>

  <div class="title-area">
    <h1 style="margin-bottom: 5px;">
      <%= npmReportTitle %>
    </h1>
    <h5>
      <%= currentDate %>
    </h5>
    <h5 style=" margin-top: 10px;">Generated with <a href="https://www.npmjs.com/package/audit-export"
        target="_blank">audit-export</a></h5>
  </div>

  <div class="info-categories">
    <% const vulnCategories=[ { label: 'Critical' , value: totals.critical , class: 'critical' }, { label: 'High' ,
      value: totals.high , class: 'high' }, { label: 'Moderate' , value: totals.moderate , class: 'moderate' }, {
      label: 'Low' , value: totals.low , class: 'low' }, { label: 'Informative' , value: totals.info ,
      class: 'informative' } ]; %>
      <% [...vulnCategories, { label: 'Total' , value: vulnsFound, class: 'total' }, { label: 'Dependencies' , value:
        vulnerableDependencies, class: 'total' }].forEach(category=> { %>
        <% if (category.value> 0) { %>
          <div class="vulnerability-category">
            <p>
              <%= category.label %>:
            </p>
            <strong class="badge <%= category.class %> pointer"
              onclick="filterBySeverityOnResumeBadges('<%= category.label %>')">
              <%= category.value %>
            </strong>
          </div>
          <% }}); %>
  </div>

  <div class="filters-section">
    <input type="text" id="search-input" placeholder="Search by Title or Package" onkeyup="filterTable()">

    <div class="dropdown-container">
      <button class="dropdownButton" onclick="showCheckboxDropdown(event, 'checkboxDropdown-severity')">Filter by
        Severity <span>(<span id="selected-severities">0</span>/<%= vulnCategories.length %>)</span></button>
      <div id="checkboxDropdown-severity" class="checkbox-list">
        <% vulnCategories.forEach(category=> { %>
          <label><input type="checkbox" onclick="filterTable()">
            <%=category.label%>
          </label>
          <% }); %>
      </div>
    </div>

    <% const available_tags=[].concat(...(vulnerabilities.map(vuln=> vuln.tags))).filter((value, index, array) => {
      return array.indexOf(value) === index;
      }); %>

      <div class="dropdown-container">
        <button class="dropdownButton" onclick="showCheckboxDropdown(event, 'checkboxDropdown-tags')">Filter by
          Tags <span>(<span id="selected-tags">0</span>/<%= available_tags.length %>)</span></button>
        <div id="checkboxDropdown-tags" class="checkbox-list">
          <% available_tags.forEach(tag=> { %>
            <label><input type="checkbox" onclick="filterTable()">
              <%=tag%>
            </label>
            <% }); %>
        </div>
      </div>

      <div>
        <button data-title="Clear filters" class="dropdownButton" onclick="clearFilters()">x</button>
      </div>
  </div>

  <table id="sortable-table">
    <thead>
      <tr>
        <th onclick="sortTable(0, this)">Title<span class="sort-icon">▼</span></th>
        <th onclick="sortTable(1, this)">Package Name<span class="sort-icon">▼</span></th>
        <th onclick="sortTable(2, this)">Severity<span class="sort-icon desc">▲</span></th>
        <th onclick="sortTable(3, this)">Tags<span class="sort-icon desc">▼</span></th>
        <th onclick="sortTable(4, this)">Related CWEs and CVEs<span class="sort-icon">▼</span></th>
      </tr>
    </thead>
    <tbody id="vulnerability-table-body">
      <!-- The rows will be dynamically inserted here -->
    </tbody>
  </table>

  <script>
    let sortDirection = -1;

    function sortTable(columnIndex, header) {
      const table = document.getElementById("sortable-table");
      const sortIcons = document.querySelectorAll('.sort-icon');
      const rows = Array.from(table.getElementsByTagName("tr"));

      rows.shift(); // Remove the header row from the sorting

      rows.sort((a, b) => {
        const aValue = a.children[columnIndex].textContent.trim();
        const bValue = b.children[columnIndex].textContent.trim();

        if (!isNaN(aValue) && !isNaN(bValue)) {
          return sortDirection * (parseFloat(aValue) - parseFloat(bValue));
        } else {
          return sortDirection * aValue.localeCompare(bValue);
        }
      });

      const tbody = table.getElementsByTagName("tbody")[0];
      tbody.innerHTML = "";
      rows.forEach(row => {
        tbody.appendChild(row);
      });

      // Toggle sort direction for the next click
      sortDirection *= -1;

      // Update sort icons
      sortIcons.forEach(icon => icon.classList.remove('asc', 'desc'));
      updateSortIcon(header);
    }

    function updateSortIcon(header) {
      const sortIcon = header.querySelector('.sort-icon');

      // Clear existing content
      sortIcon.textContent = '';

      if (sortDirection === 1) {
        sortIcon.classList.remove('desc');
        sortIcon.classList.add('asc');
        sortIcon.textContent = '▼';
      } else {
        sortIcon.classList.remove('asc');
        sortIcon.classList.add('desc');
        sortIcon.textContent = '▲';
      }
    }

    let vulnerabilities = JSON.parse(atob("<%- Buffer.from(JSON.stringify(vulnerabilities)).toString('base64') %>"));

    function populateTable(vuln_list) {
      const tbody = document.getElementById('vulnerability-table-body');

      if (vuln_list.length > 0) {
        vuln_list.forEach(vuln => {
          const row = document.createElement('tr');

          row.innerHTML = `
            <td><a href="${vuln.link}">${vuln.name}</a></td>
            <td><a href="https://www.npmjs.com/package/${vuln.package}">${vuln.package}</a></td>
            <td><span class="badge ${vuln.severity}">
                <span style="display: none;">${vuln.severity_number}</span>
                ${vuln.severity}
              </span></td>
            <td>${vuln.tags.map(tag => `<span class="badge tag" ${tag === 'Fix Available' ? 'data-title="Run `npm audit fix` to fix this vulnerability"' : ''}>${tag}</span>`).join('')}</td>
            <td>${vuln.cwes}</td>
          `;
          tbody.appendChild(row);
        });
      } else {
        tbody.innerHTML = `
          <tr>
            <td colspan="5">
              <div style="width: 100%; text-align: center; opacity: 0.8;">
                <p>No vulnerabilities found!</p>
              </div>
            </td>
          </tr>
        `;
      }

      sortDirection = -1;
      sortTable(2, document.querySelector('#sortable-table th:nth-child(3)'));
    }

    function filterBySeverityOnResumeBadges(severity) {
      const severitiesCheckboxes = document.querySelectorAll('#checkboxDropdown-severity label');

      severitiesCheckboxes.forEach(label => {
        const checkbox = label.querySelector('input');
        if (label.innerText.toLowerCase().trim() === severity.toLowerCase().trim()) {
          checkbox.checked = true;
        } else {
          checkbox.checked = false;
        }
      });

      filterTable();
    }

    // Function to filter the table based on search input
    function filterTable() {
      const searchInput = document.getElementById('search-input').value.toLowerCase();
      const searchSeverities = document.querySelectorAll('#checkboxDropdown-severity label');
      const searchTags = document.querySelectorAll('#checkboxDropdown-tags label');

      const filter_severities = [];
      const filter_tags = [];

      searchSeverities.forEach(label => {
        const checkbox = label.querySelector('input');
        if (checkbox.checked) filter_severities.push(label.innerText.toLowerCase().trim());
      });
      searchTags.forEach(label => {
        const checkbox = label.querySelector('input');
        if (checkbox.checked) filter_tags.push(label.innerText.toLowerCase().trim());
      });

      document.getElementById('selected-severities').innerText = filter_severities.length;
      document.getElementById('selected-tags').innerText = filter_tags.length;

      const filteredVulnerabilities = vulnerabilities.filter(vuln => {
        const title = vuln.name.toLowerCase();
        const packageName = vuln.package.toLowerCase();

        if (!searchInput) return true;
        return title.includes(searchInput) || packageName.includes(searchInput);
      }).filter(vuln => {
        if (filter_severities.length === 0) return true;

        const severity = vuln.severity.toLowerCase();
        return filter_severities.includes(severity);
      }).filter(vuln => {
        if (filter_tags.length === 0) return true;

        const tags = vuln.tags.map(tag => tag.toLowerCase().trim());
        return tags.filter(tag => filter_tags.includes(tag)).length > 0;
      });

      document.getElementById('vulnerability-table-body').innerHTML = ''; // Clear current table content

      // Populate table with filtered vulnerabilities
      populateTable(filteredVulnerabilities);
    }

    function clearFilters() {
      document.getElementById('search-input').value = "";

      document.querySelectorAll('#checkboxDropdown-severity input').forEach((input) => input.checked = false);
      document.querySelectorAll('#checkboxDropdown-tags input').forEach((input) => input.checked = false);

      document.getElementById('selected-severities').innerText = "0";
      document.getElementById('selected-tags').innerText = "0";

      document.getElementById('vulnerability-table-body').innerHTML = ''; // Clear current table content
      populateTable(vulnerabilities);
    }

    function showCheckboxDropdown(event, id) {
      // Close all dropdowns first
      const dropdowns = document.querySelectorAll('.checkbox-list');
      dropdowns.forEach(dropdown => {
        if (dropdown.id !== id) {
          dropdown.style.display = 'none';
        }
      });

      // Toggle the clicked dropdown
      const checkboxDropdown = document.getElementById(id);
      checkboxDropdown.style.display = checkboxDropdown.style.display === 'block' ? 'none' : 'block';
      event.stopPropagation(); // Prevent closing the dropdown when clicking the button
    }

    function download() {
      downloadAsJSON();
      downloadAsCSV();
      downloadAsSarif();
    }

    function downloadAsJSON() {
      _generateFileToDownload("vulnerabilities.json", "application/json", JSON.stringify(vulnerabilities));
    }

    function downloadAsSarif() {
      const resultsInSarifFormat = vulnerabilities.map(vuln => {
        const ruleGHSA = vuln.link.includes("/GHSA-") ? `GHSA-${vuln.link.split("/GHSA-")[1]}` : null;
        const ruleCVE = vuln.link.includes("/CVE-") ? `CVE-${vuln.link.split("/CVE-")[1]}` : null;
        const rule = ruleGHSA || ruleCVE || vuln.link;

        return {
          "ruleId": rule,
          "level": vuln.tags.includes("Indirect") ? "warning" : "error",
          "message": {
            "text": `(${vuln.severity}) ${vuln.name} | ${rule}`,
            "markdown": `(**${vuln.severity}**) ${vuln.name} | [${rule}](${vuln.link})`,
          },
          "locations": [
            {
              "physicalLocation": {
                "artifactLocation": {
                  "uri": "file:///<%- packageLockLocation %>"
                }
              }
            }
          ],
          "properties": {
            "package": vuln.package,
            "advisory": vuln.link,
            "cwes": vuln.cwes,
            "tags": vuln.tags,
          }
        }
      });

      _generateFileToDownload("vulnerabilities.sarif", "application/sarif+json", JSON.stringify({
        "version": "2.1.0",
        "$schema": "https://json.schemastore.org/sarif-2.1.0.json",
        "runs": [
          {
            "tool": {
              "driver": {
                "name": "audit-export",
                "organization": "Hotay",
                "shortDescription": {
                  "text": "A tool to export npm audit results to a fully offline HTML page."
                },
                "fullDescription": {
                  "text": "A convenient tool to export npm audit results to a comprehensive offline HTML page, providing a clear overview of your project's vulnerabilities."
                },
                "version": "<%- version %>",
                "downloadUri": "https://www.npmjs.com/package/audit-export",
                "informationUri": "https://github.com/hotaydev/audit-export"
              }
            },
            "artifacts": [
              {
                "location": {
                  "uri": "file:///<%- packageLockLocation %>"
                }
              }
            ],
            "results": resultsInSarifFormat
          }
        ]
      }));
    }

    function downloadAsCSV() {
      const csv = ["link,name,tags,package,severity,severity_number,cwes"];

      for (const vuln of vulnerabilities) {
        csv.push(`${vuln.link},${vuln.name.split(", ").join(" ")},${vuln.tags},${vuln.package},${vuln.severity},${vuln.severity_number},${vuln.cwes.split(", ").join(" ")}`);
      }

      _generateFileToDownload("vulnerabilities.csv", "text/csv", csv.join("\n"));
    }

    function _generateFileToDownload(name, type, data) {
      const blob = new Blob([data], { type: type });

      if (window.navigator.msSaveOrOpenBlob) {
        window.navigator.msSaveBlob(blob, name);
      } else {
        const elem = window.document.createElement('a');
        elem.href = window.URL.createObjectURL(blob, { oneTimeOnly: true });
        elem.download = name;
        elem.style.display = 'none';
        document.body.appendChild(elem);
        elem.click();
        document.body.removeChild(elem);
      }
    }

    window.onload = function () {
      populateTable(vulnerabilities);

      const checkboxDropdownSeverity = document.getElementById('checkboxDropdown-severity');
      const checkboxDropdownTags = document.getElementById('checkboxDropdown-tags');

      document.addEventListener('click', function (event) {
        if (!checkboxDropdownSeverity.contains(event.target)) {
          checkboxDropdownSeverity.style.display = 'none';
        }
        if (!checkboxDropdownTags.contains(event.target)) {
          checkboxDropdownTags.style.display = 'none';
        }
      });
    };
  </script>

</body>

</html>