<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= npmReportTitle %>
  </title>
  <style>
    * {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
    }

    body {
      background-color: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3rem;
    }

    h1 {
      color: #333;
      text-align: center;
      margin-bottom: 2rem;
    }

    .info-block,
    .vulnerability-category {
      background-color: #fff;
      border: 1px solid #ddd;
      padding: 20px;
      margin: 10px;
      text-align: center;
      display: flex;
      flex-direction: column;
    }

    .info-block strong,
    .vulnerability-category strong {
      margin-top: 7px;
    }

    .info-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
    }

    .badge {
      display: inline-block;
      padding: 4px 20px;
      border-radius: 5px;
      font-weight: bold;
      color: #fff;
    }

    .critical {
      background-color: #dc3545;
    }

    .high {
      background-color: #ff7b00;
    }

    .moderate {
      background-color: #ffc107;
    }

    .low {
      background-color: #28a745;
    }

    .informative {
      background-color: #17a2b8;
    }

    .tag {
      background-color: #742eff;
      margin: 0 5px 5px 0;
    }

    table {
      width: 100%;
      max-width: 1200px;
      border-collapse: collapse;
      margin-top: 20px;
    }

    th,
    td {
      border: 1px solid #ddd;
      padding: 6px 10px;
      text-align: left;
    }

    th {
      background-color: #f2f2f2;
      position: relative;
      cursor: pointer;
    }

    .sort-icon {
      position: absolute;
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: #acacac;
      font-size: 12px;
    }

    .sort-icon.asc,
    .sort-icon.desc {
      font-weight: bold;
      color: #000;
    }

    [data-title] {
      position: relative;
    }

    [data-title]:after {
      content: attr(data-title);
      background-color: white;
      color: #2b2b2b;
      font-size: 75%;
      position: absolute;
      padding: 4px 6px;
      border-radius: 4px;
      bottom: 35px;
      left: -40%;
      white-space: nowrap;
      border: 1px solid #6a6a6a;
      z-index: 100;
      visibility: hidden;
      opacity: 0;
      transition: opacity 0.3s ease, visibility 0.3s ease;
    }

    [data-title]:hover:after {
      opacity: 1;
      visibility: visible;
    }

    input[type="text"] {
      width: 100%;
      max-width: 300px;
      padding: 10px 15px;
      border: 1px solid #ddd;
      border-radius: 10px;
      font-size: 16px;
      transition: border-color 0.3s ease, box-shadow 0.3s ease;
      outline: none;
    }

    input[type="text"]::placeholder {
      color: #999;
    }

    input[type="text"]:focus {
      border-color: #007bff;
    }

    a {
      color: #007bff;
      text-decoration: none;
    }

    .dropdown-container {
      position: relative;
      display: inline-block;
    }

    .dropdownButton {
      padding: 10px 15px;
      font-size: 16px;
      cursor: pointer;
      border: 1px solid #ddd;
      background-color: #fff;
      border-radius: 10px;
      width: 100%;
    }

    .checkbox-list {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
      z-index: 1;
      padding: 10px;
    }

    .checkbox-list label {
      display: block;
      padding: 5px;
      text-wrap: nowrap;
    }

    .checkbox-list label input {
      margin-right: 8px;
    }

    .filters-section {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      gap: 10px;
      margin: 20px 0;
    }
  </style>
</head>

<body>

  <h1>
    <%= npmReportTitle %>
  </h1>

  <div class="info-categories">
    <% const infoBlocks=[ { label: 'Vulnerabilities Found' , value: vulnsFound }, { label: 'Vulnerable Dependencies' ,
      value: vulnerableDependencies }, { label: 'Generated at' , value: currentDate } ]; %>
      <% infoBlocks.forEach(block=> { %>
        <div class="info-block">
          <p>
            <%= block.label %>:
          </p>
          <strong>
            <%= block.value %>
          </strong>
        </div>
        <% }); %>
  </div>

  <div class="info-categories">
    <% const vulnCategories=[ { label: 'Critical' , value: criticalVulns, class: 'critical' }, { label: 'High' , value:
      highVulns, class: 'high' }, { label: 'Moderate' , value: moderateVulns, class: 'moderate' }, { label: 'Low' ,
      value: lowVulns, class: 'low' }, { label: 'Informative' , value: infoVulns, class: 'informative' } ]; %>
      <% vulnCategories.forEach(category=> { %>
        <div class="vulnerability-category">
          <p>
            <%= category.label %>:
          </p>
          <strong class="badge <%= category.class %>">
            <%= category.value %>
          </strong>
        </div>
        <% }); %>
  </div>

  <div class="filters-section">
    <input type="text" id="search-input" placeholder="Search by Title or Package" onkeyup="filterTable()">

    <div class="dropdown-container">
      <button class="dropdownButton" onclick="showCheckboxDropdown(event, 'checkboxDropdown-severity')">Filter by
        Severity <span>(<span id="selected-severities">0</span>/<%= vulnCategories.length %>)</span></button>
      <div id="checkboxDropdown-severity" class="checkbox-list">
        <% vulnCategories.forEach(category=> { %>
          <label><input type="checkbox" onclick="filterTable()">
            <%=category.label%>
          </label>
          <% }); %>
      </div>
    </div>

    <% const available_tags=[].concat(...(vulnerabilities.map(vuln=> vuln.tags))).filter((value, index, array) => {
      return array.indexOf(value) === index;
      }); %>

      <div class="dropdown-container">
        <button class="dropdownButton" onclick="showCheckboxDropdown(event, 'checkboxDropdown-tags')">Filter by
          Tags <span>(<span id="selected-tags">0</span>/<%= available_tags.length %>)</span></button>
        <div id="checkboxDropdown-tags" class="checkbox-list">
          <% available_tags.forEach(tag=> { %>
            <label><input type="checkbox" onclick="filterTable()">
              <%=tag%>
            </label>
            <% }); %>
        </div>
      </div>

      <div>
        <button data-title="Clear filters" class="dropdownButton" onclick="clearFilters()">x</button>
      </div>
  </div>

  <table id="sortable-table">
    <thead>
      <tr>
        <th onclick="sortTable(0, this)">Title<span class="sort-icon">▼</span></th>
        <th onclick="sortTable(1, this)">Package Name<span class="sort-icon">▼</span></th>
        <th onclick="sortTable(2, this)">Severity<span class="sort-icon desc">▲</span></th>
        <th onclick="sortTable(3, this)">Tags<span class="sort-icon desc">▼</span></th>
        <th onclick="sortTable(4, this)">Related CWEs and CVEs<span class="sort-icon">▼</span></th>
      </tr>
    </thead>
    <tbody id="vulnerability-table-body">
      <!-- The rows will be dynamically inserted here -->
    </tbody>
  </table>

  <script>
    let sortDirection = 1;

    function sortTable(columnIndex, header) {
      const table = document.getElementById("sortable-table");
      const sortIcons = document.querySelectorAll('.sort-icon');
      const rows = Array.from(table.getElementsByTagName("tr"));

      rows.shift(); // Remove the header row from the sorting

      rows.sort((a, b) => {
        const aValue = a.children[columnIndex].textContent.trim();
        const bValue = b.children[columnIndex].textContent.trim();

        if (!isNaN(aValue) && !isNaN(bValue)) {
          return sortDirection * (parseFloat(aValue) - parseFloat(bValue));
        } else {
          return sortDirection * aValue.localeCompare(bValue);
        }
      });

      const tbody = table.getElementsByTagName("tbody")[0];
      tbody.innerHTML = "";
      rows.forEach(row => {
        tbody.appendChild(row);
      });

      // Toggle sort direction for the next click
      sortDirection *= -1;

      // Update sort icons
      sortIcons.forEach(icon => icon.classList.remove('asc', 'desc'));
      updateSortIcon(header);
    }

    function updateSortIcon(header) {
      const sortIcon = header.querySelector('.sort-icon');

      // Clear existing content
      sortIcon.textContent = '';

      if (sortDirection === 1) {
        sortIcon.classList.remove('desc');
        sortIcon.classList.add('asc');
        sortIcon.textContent = '▼';
      } else {
        sortIcon.classList.remove('asc');
        sortIcon.classList.add('desc');
        sortIcon.textContent = '▲';
      }
    }

    let vulnerabilities = JSON.parse('<%- JSON.stringify(vulnerabilities) %>');

    function populateTable(vuln_list) {
      const tbody = document.getElementById('vulnerability-table-body');

      if (vuln_list.length > 0) {
        vuln_list.forEach(vuln => {
          const row = document.createElement('tr');

          row.innerHTML = `
            <td><a href="${vuln.link}">${vuln.name}</a></td>
            <td><a href="https://www.npmjs.com/package/${vuln.package}">${vuln.package}</a></td>
            <td><span class="badge ${vuln.severity}">
                <span style="display: none;">${vuln.severity_number}</span>
                ${vuln.severity}
              </span></td>
            <td>${vuln.tags.map(tag => `<span class="badge tag" ${tag === 'Fix Available' ? 'data-title="Run `npm audit fix` to fix this vulnerability"' : ''}>${tag}</span>`).join('')}</td>
            <td>${vuln.cwes}</td>
          `;
          tbody.appendChild(row);
        });
      } else {
        tbody.innerHTML = `
          <tr>
            <td colspan="5">
              <div style="width: 100%; text-align: center; opacity: 0.8;">
                <p>No vulnerabilities found!</p>
              </div>
            </td>
          </tr>
        `;
      }
    }

    // Function to filter the table based on search input
    function filterTable() {
      const searchInput = document.getElementById('search-input').value.toLowerCase();
      const searchSeverities = document.querySelectorAll('#checkboxDropdown-severity label');
      const searchTags = document.querySelectorAll('#checkboxDropdown-tags label');

      const filter_severities = [];
      const filter_tags = [];

      searchSeverities.forEach(label => {
        const checkbox = label.querySelector('input');
        if (checkbox.checked) filter_severities.push(label.innerText.toLowerCase().trim());
      });
      searchTags.forEach(label => {
        const checkbox = label.querySelector('input');
        if (checkbox.checked) filter_tags.push(label.innerText.toLowerCase().trim());
      });


      document.getElementById('selected-severities').innerText = filter_severities.length;
      document.getElementById('selected-tags').innerText = filter_tags.length;

      const filteredVulnerabilities = vulnerabilities.filter(vuln => {
        const title = vuln.name.toLowerCase();
        const packageName = vuln.package.toLowerCase();

        if (!searchInput) return true;
        return title.includes(searchInput) || packageName.includes(searchInput);
      }).filter(vuln => {
        if (filter_severities.length === 0) return true;

        const severity = vuln.severity.toLowerCase();
        return filter_severities.includes(severity);
      }).filter(vuln => {
        if (filter_tags.length === 0) return true;

        const tags = vuln.tags.map(tag => tag.toLowerCase().trim());
        return tags.filter(tag => filter_tags.includes(tag)).length > 0;
      });

      document.getElementById('vulnerability-table-body').innerHTML = ''; // Clear current table content

      // Populate table with filtered vulnerabilities
      populateTable(filteredVulnerabilities);
    }

    function clearFilters() {
      document.getElementById('search-input').value = "";

      document.querySelectorAll('#checkboxDropdown-severity input').forEach((input) => input.checked = false);
      document.querySelectorAll('#checkboxDropdown-tags input').forEach((input) => input.checked = false);

      document.getElementById('selected-severities').innerText = "0";
      document.getElementById('selected-tags').innerText = "0";

      document.getElementById('vulnerability-table-body').innerHTML = ''; // Clear current table content
      populateTable(vulnerabilities);
    }

    function showCheckboxDropdown(event, id) {
      const checkboxDropdown = document.getElementById(id);
      checkboxDropdown.style.display = checkboxDropdown.style.display === 'block' ? 'none' : 'block';
      event.stopPropagation(); // Prevent closing the dropdown when clicking the button
    }

    window.onload = function () {
      populateTable(vulnerabilities);
      sortTable(2, document.querySelector('#sortable-table th:nth-child(3)'));

      const checkboxDropdownSeverity = document.getElementById('checkboxDropdown-severity');
      const checkboxDropdownTags = document.getElementById('checkboxDropdown-tags');

      document.addEventListener('click', function (event) {
        if (!checkboxDropdownSeverity.contains(event.target)) {
          checkboxDropdownSeverity.style.display = 'none';
        }
        if (!checkboxDropdownTags.contains(event.target)) {
          checkboxDropdownTags.style.display = 'none';
        }
      });
    };
  </script>

</body>

</html>